@rendermode InteractiveServer

@code {
    private bool expanded = true; 
}

<div class="top-row ps-3 navbar" style="background-color: var(--bg);">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="text-decoration: none;color:#333;font-weight:600;">Navami</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<FluentNavMenu @bind-Expanded="@expanded" Width="250" Title="Custom navigation menu">
    <FluentNavLink Icon="@(new Icons.Regular.Size16.Home())" Href="/" Match="NavLinkMatch.All">
        Dashboard
    </FluentNavLink>
    <AuthorizeView Roles="Admin">
        <FluentNavLink Icon="@(new Icons.Regular.Size16.Person())" Href="/users" Match="NavLinkMatch.All">
            Users
        </FluentNavLink>
    </AuthorizeView>


    <FluentNavLink Icon="@(new Icons.Regular.Size16.Book())" Href="/recipe" Match="NavLinkMatch.All">
        Recipe Master
    </FluentNavLink>

    <AuthorizeView Roles="Admin">

        <FluentNavLink Icon="@(new Icons.Regular.Size16.Tag())" Href="/recipe-category" Match="NavLinkMatch.All">
            Product Category
        </FluentNavLink>


        <FluentNavLink Icon="@(new Icons.Regular.Size16.Backpack())" Href="/rawmaterial" Match="NavLinkMatch.All">
            Raw Material
        </FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size16.PageFit())" Href="/category" Match="NavLinkMatch.All">
            Category Master
        </FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size16.DataUsageSettings())" Href="/subcategory"
                       Match="NavLinkMatch.All">
            Sub Category
        </FluentNavLink>

    </AuthorizeView>


</FluentNavMenu>

<style>
   
</style>

